In [2]:
# Creatures at your level have a 5% chance to Dodge your attacks. Each additional level the target has over the player grants them 0.5% additional chance to dodge. (So 6.5% chance to Dodge for creatures 3 levels above the player.)

In [5]:
import pandas as pd
base_stats_df = pd.read_csv('base_stats.csv', index_col = 0)
base_stats_df.head()

       Agility  Intellect  Strength  Stamina  Spirit  Attack Power  Melee Crit
Level
1           25         20        17       19      20            34        1.25
2           26         21        18       20      21            35        1.93
3           26         21        18       20      21            35        2.61
4           27         22        19       21      22            36        3.28
5           28         23        20       22      23            37        3.96

In [30]:
mob_armor_health_df = pd.read_html('armor_health.html',
                                   skiprows = 6,
                                   index_col = 1)
mob_armor_health_df = mob_armor_health_df[0]
mob_armor_health_df.head()

,6,Warrior,Paladin,Mage,Warrior.1,Paladin.1,Mage.1,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
Mob Level,,,,,,,,,,,,,,
1,7,20,NaN,NaN,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8,21,NaN,NaN,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9,46,NaN,NaN,71.0,NaN,69.0,NaN,67.0,NaN,NaN,NaN,NaN,NaN
4,10,82,NaN,NaN,86.0,NaN,83.0,NaN,81.0,NaN,NaN,NaN,NaN,NaN
5,11,126,105.0,NaN,102.0,NaN,98.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
cols = ['Warrior','Paladin', 'Mage', 'Warrior.1', 'Paladin.1', 'Mage.1']
mob_armor_health_df = mob_armor_health_df.loc[:,cols]
mob_armor_health_df.head()

           Warrior  Paladin  Mage  Warrior.1  Paladin.1  Mage.1
Mob Level
1               20      NaN   NaN       42.0        NaN     NaN
2               21      NaN   NaN       55.0        NaN     NaN
3               46      NaN   NaN       71.0        NaN    69.0
4               82      NaN   NaN       86.0        NaN    83.0
5              126    105.0   NaN      102.0        NaN    98.0

In [33]:
mob_armor_health_df.columns = ['Warrior_Armor','Paladin_Armor', 'Mage_Armor', 'Warrior_Health', 'Paladin_Health', 'Mage_Health']
mob_armor_health_df.head()

,Warrior_Armor,Paladin_Armor,Mage_Armor,Warrior_Health,Paladin_Health,Mage_Health
Mob Level,,,,,,
1,20,NaN,NaN,42.0,NaN,NaN
2,21,NaN,NaN,55.0,NaN,NaN
3,46,NaN,NaN,71.0,NaN,69.0
4,82,NaN,NaN,86.0,NaN,83.0
5,126,105.0,NaN,102.0,NaN,98.0

In [38]:
my_var = 3 # Declare a variable on the global scope
def my_function(my_var):
     return my_var + 1

for i in range(4):
    my_var = my_function(my_var) # call the function and assign result to global variable
    print(my_var) # check result

4
5
6
7

In [57]:
current_energy = 0 # Declare a variable on the global scope

def my_function(second):
    global current_energy
    if second % 2 == 0:
        return current_energy + 20

for second in range(20):
    my_function(second)
    print(f'second={second} current_energy={current_energy}')

second=0 current_energy=0
second=1 current_energy=0
second=2 current_energy=0
second=3 current_energy=0
second=4 current_energy=0
second=5 current_energy=0
second=6 current_energy=0
second=7 current_energy=0
second=8 current_energy=0
second=9 current_energy=0
second=10 current_energy=0
second=11 current_energy=0
second=12 current_energy=0
second=13 current_energy=0
second=14 current_energy=0
second=15 current_energy=0
second=16 current_energy=0
second=17 current_energy=0
second=18 current_energy=0
second=19 current_energy=0

In [77]:
current_energy = 0
def change(): 
    global current_energy
    global second
    if second % 2 == 0:
        if current_energy + 20 >= 100:
            current_energy = max(100,current_energy)
        elif current_energy + 20 < 100:
            current_energy += 20

for second in range(20):
    change() 
    print(f' second={second} current_energy={current_energy}')

 second=0 current_energy=20
 second=1 current_energy=20
 second=2 current_energy=40
 second=3 current_energy=40
 second=4 current_energy=60
 second=5 current_energy=60
 second=6 current_energy=80
 second=7 current_energy=80
 second=8 current_energy=100
 second=9 current_energy=100
 second=10 current_energy=100
 second=11 current_energy=100
 second=12 current_energy=100
 second=13 current_energy=100
 second=14 current_energy=100
 second=15 current_energy=100
 second=16 current_energy=100
 second=17 current_energy=100
 second=18 current_energy=100
 second=19 current_energy=100